.badge {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    right: -10px;
    top: -10px;
  }